@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 20%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.grid {
  display: grid;
}

/* .grid-1 > *:first-child {
  grid-column: 1/3;
} */

.flex {
  display: flex;
  flex-direction: column;
}

.showcase {
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  background-image: linear-gradient(
      to right,
      rgba(69, 75, 84, 0.7),
      rgba(77, 82, 90, 0.8)
    ),
    url("./designs/background3.jpg");
}

.container {
  width: 800px;
  height: 500px;
  margin: auto;
  background-color: rgb(193, 208, 232);
  background-image: linear-gradient(
      to right,
      rgba(195, 207, 277, 0.1),
      rgba(133, 164, 214, 0.15)
    ),
    url("./designs/background6.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
  border-radius: 20px;
}

/* Dinh dang cot trai */
.showcase .grid {
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}

.info-day {
  /* background: black; */
  color: rgb(16, 24, 71);
  padding: 40px;
}

.info-day .hello {
  font-size: 18px;
  font-style: bold;
}

.info-day .diw,
.dmy {
  font-size: 18px;
}

.info-day .status {
  padding-top: 30px;
  font-size: 40px;
  color: black;
}

.info-day .status:hover {
  cursor: pointer;
}

.info-day .temperature {
  padding-top: 40px;
  font-size: 60px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.info-day .hour {
  font-size: 30px;
  font-weight: 500;
  padding-top: 30px;
}

.info-day .location {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}

.info-day .quotes {
  padding-top: 20px;
  font-style: italic;
  font-weight: 550;
  color: rgba(255, 255, 255, 0.9);
}
/* Dinh dang cot phai */
.info-days {
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 100;
  /* color: rgba(15, 70, 219, 0.9); */
  color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
}

.info-days .grid-1 {
  grid-template-columns: 40% 60%;
}

.days {
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.days .dmy-i,
.diw-i {
  text-align: right;
  margin: auto 0;
}

.days .temperature-i {
  font-size: 30px;
  font-weight: 600;
}

.days .temperature-i:hover {
  color: white;
  border-bottom: 1.5px dashed white;
}

.days .status-i {
  font-size: 18px;
}

.days:nth-child(odd) {
  color: black;
}

.input {
  font-size: 16px;
  width: 300px;
}
